.filters {
    float: left;
    margin-bottom: 1rem;
}

.filter {
  padding-right: 10px;
}

.filterName {
  padding-right: 2px;
}

.react-datepicker__input-container > input {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
}

.react-datepicker__tab-loop, .react-datepicker-popper, .react-datepicker__tab-loop__end {
  display: inline-block;
}



.green {
  color: green;
}

.red {
  color: red;
}

.dropdown {
  display: inline;
  margin-top: 0;
}

.dropdown > .btn-light {
  width: 100px;
  height: 30px;
  border-radius: 0;
  padding: 1px 2px;
  background-color: white;
  border: 1px solid gray;
  text-align: left;
  margin-top: 0;
  vertical-align: top;
}
